<div class="cards-grid">

  <% @bike_ads.each do |bike_ad| %>
    <%= link_to bike_ad_path(bike_ad) do %>
<<<<<<< HEAD

      <div class="card border-0 rounded-0 default-card" style="<%= 'opacity: 0.5;' unless bike_ad.available %>">
        <div class="default-card-header" style="background-image: url(<%=
        if bike_ad.photo.attached?
          cloudinary_url(bike_ad.photo.key, quality: :auto, crop: :fill)
        else
          asset_url('template.jpg')
        end
        %>)">
          <div class="default-card-stamp <%= bike_ad.category.downcase %>-catg"><%= bike_ad.category %></div>
        </div>
        <div class="card-body bike-card-body">
          <div class="bike-card-model">
            <%= bike_ad.model %>
          </div>
          <div class="d-flex flex-column justify-content-start text-right bike-card-price-div">
            <div class="bike-card-price">
              <%= bike_ad.price_per_day %> €
            </div>
            <span class="small text-muted">/ jour</span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

