<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-locabike">
  <div class="container">
    <a class="navbar-brand" href="/">LOCABIKE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigations-08" aria-controls="navigations-08" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navigations-08">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to 'Nos membres', users_path, class: "nav-link" %></li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><%= current_user.first_name %></a>
            <div class="dropdown-menu">
              <%= link_to 'Voir mon profil', user_path(current_user),class: "dropdown-item"  %>
              <%= link_to 'Editer', edit_user_registration_path(current_user),class: "dropdown-item" %>
              <%= link_to 'Déconnexion', destroy_user_session_path(current_user), method: :delete,class: "dropdown-item" %>
            </div>
          </li>
          <%= link_to 'Ajouter une moto',new_bike_ad_path, class: "btn btn-primary mt-2 mt-md-0 ml-lg-3" %>
        <% else %>
          <%= link_to 'Se connecter',new_user_session_path, class: "btn btn-outline-secondary mt-2 mt-md-0 ml-lg-3" %>
          <%= link_to 'Créer un compte',new_user_registration_path, class: "btn btn-outline-primary mt-2 mt-md-0 ml-lg-3" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
