<div class="row flex-column-reverse flex-lg-row">
  <div class="col-12 col-lg-8 mt-4 mt-lg-0" %>

    <div class="card border-0 p-4">

      <div>
        <h1 class="mb-0"><%= @bike_ad.model %></h1>

        <div>
          <%= link_to @bike_ad.category, '#', class: "bike-ad-label catg #{@bike_ad.category.downcase}-catg" %>
          <%= link_to @bike_ad.brand, '#', class: "bike-ad-label search" %>
          <span class="bike-ad-label"><%= @bike_ad.year %></span>
          <%= link_to 'Pyrénées-Orientales', '#', class: "bike-ad-label search" %>
        </div>
      </div>

      <div class="my-3">
      <% if @bike_ad.photo.attached? %>
        <%= cl_image_tag @bike_ad.photo.key, quality: :auto, crop: :fill, alt: "Photo de la moto #{@bike_ad.model} proposée par #{@bike_ad.user.first_name}", class: 'bike-ad-photo' %>
      <% else %>
        <img src="<%= asset_url('template.jpg') %>" class="bike-ad-photo" alt="<%= "Photo de la moto #{@bike_ad.model} proposée par #{@bike_ad.user.first_name}" %>">
      <% end %>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div>
          <i class="fas fa-star rating"></i> 4,5 (15 avis)
        </div>
        <div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "", title: "#{@bike_ad.user.first_name}" %>
        </div>
      </div>

      <hr>

      <div>
        <p class="my-0"><%= @bike_ad.description %></p>
      </div>

      <hr>

      <div>
        <h3>Localisation</h3>
        <div class="bike-ad-photo" id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

      <hr>

      <div>
        <h3>Commentaires</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ab excepturi, aut quidem inventore provident, assumenda tempore soluta eaque dolorem earum culpa cumque dolorum labore expedita eum, ut illo ratione!
      </div>

      <hr>

      <div>
        <h3>Propriétaire</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ab excepturi, aut quidem inventore provident, assumenda tempore soluta eaque dolorem earum culpa cumque dolorum labore expedita eum, ut illo ratione!
      </div>

    </div>


    <div class="my-4 text-center">
      <h2>Découvrez d'autres offres</h2>
    </div>
    <% @bike_ads = BikeAd.available.order("category") %>
    <%= render 'components/bike_card', locals: { bike_ads: @bike_ads } %>

  </div>

  <div class="col-12 col-lg-4">

      <div class="card border-0 p-4 booking-box">

          <% if @bike_ad.user == current_user %>

            <h3><%= @bike_ad.user.first_name %></h3>
            <span class="ml-1">Votre moto est actuellement <strong><%= 'non' unless @bike_ad.available %> disponible</strong> à la location. Voici l'annonce <strong><%= 'non' unless @bike_ad.available %> visible</strong> par les autres utilisateurs.</span>
            <% if policy(@bike_ad).edit? %>
              <%= link_to edit_bike_ad_path(@bike_ad), class: 'btn btn-outline-primary mt-2', title: 'Editer' do %>
                <i class="far fa-edit"></i> Modifier
              <% end %>
            <% end %>
            <% if policy(@bike_ad).destroy? && (@bike_ad.bookings.last.nil? || (@bike_ad.bookings.last.end_date < Date.today)) %>
              <button id="alert-info" class="btn btn-outline-danger mt-2"><i class="far fa-times-circle"></i> Supprimer</button>
              <%= link_to "",bike_ad_path(@bike_ad), method: :delete, id: "delete-link", class: 'hidden' %>
            <% end %>

          <% else %>

            <div class="d-flex align-items-center">
              <h3><%= @bike_ad.price_per_day %> €</h3>
              <span class="ml-1">/ jour</span>
            </div>
            <%= simple_form_for(@booking) do |f| %>
              <%= f.error_notification %>
              <%= f.input :start_date, label: false, as: :string, html5: true, placeholder: 'Départ', required: true, input_html: { onfocus: "(this.type='date')", onblur:"(this.type='text')" } %>
              <%= f.input :end_date, as: :string, label: false, html5: true, placeholder: 'Retour', required: true, input_html: { onfocus: "(this.type='date')", onblur:"(this.type='text')" } %>
              <%= f.submit 'Réserver', class: 'btn btn-primary mb-2 w-100' %>
            <% end %>

          <% end %>

      </div>
  </div>

</div>
