<div class="col-12 col-md-6 px-0">
  <%= simple_form_for @bike_ad do |f| %>
    <%= f.error_notification %>
    <%= f.input :model, label: false, placeholder:'Modèle' %>
    <%= f.input :brand, label: false, prompt: "Marque", collection: BikeAd::BRANDS %>
    <%= f.input :category, label: false, prompt: 'Catégorie', collection: BikeAd::CATEGORIES %>
    <%= f.input :year, label: false, placeholder:"Année d'acquisition" %>
    <%= f.input :address, label: false, placeholder:'Localisation', input_html: { class: "input_address" }%>
    <%= f.input :price_per_day, label: false, placeholder:'Tarif journalier (en €)' %>
    <%= f.input :description, label: false, placeholder:'Description' %>
    <% if @bike_ad.photo.attached? %>
      <%= cl_image_tag @bike_ad.photo.key, quality: :auto, crop: :fill, alt: "Photo de la moto #{@bike_ad.model} proposée par #{@bike_ad.user.first_name}", class: 'bike-ad-photo mb-2' %>
      <%= f.input :photo, as: :file, label: 'Modifier la photo' %>
    <% else %>
      <%= f.input :photo, as: :file, label: 'Ajouter une photo' %>
    <% end %>
    <div class="file-name"></div>
    <% if @bike_ad.id.nil? %>
      <%= f.submit 'Ajouter', class: 'btn btn-primary mt-3' %>
    <% else %>
      <div class="mb-4">
        <span class="text-muted">Cochez cette case si votre moto est disponible à la location</span>
        <%= f.input :available, label: false %>
      </div>
      <%= f.submit 'Mettre à jour', class: 'btn btn-primary mt-3' %>
    <% end %>
  <% end %>
</div>
