<h1>Ad details</h1>
<div>
  <%= @bike_ad.model %>
  <%= @bike_ad.brand %>
  <%= @bike_ad.category %>
  <%= @bike_ad.year %>
  <%= @bike_ad.address %>
  <%= @bike_ad.price_per_day %>
  <%= @bike_ad.user.first_name %>
  <%= cl_image_tag @bike_ad.photo.key, height: 300, width: 400, crop: :fill %>
</div>
<% if policy(@bike_ad).edit? %>
  <%= link_to 'Edit your ad', edit_bike_ad_path(@bike_ad) %>
<% end %>
<% if policy(@bike_ad).destroy? %>
  <%= link_to 'Destroy your ad', bike_ad_path(@bike_ad), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
<% end %>
<%= link_to 'Back to ads', bike_ads_path %>

